<div class="background"> 
  <div class="forgot-password-container">
    <h2>Quên mật khẩu</h2>

    <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="phone">Số điện thoại:</label>
        <input
          type="text"
          id="phone"
          name="phone"
          formControlName="phone"
          required
          pattern="^[0-9]{10,15}$"
          placeholder="Nhập số điện thoại"
        />
      </div>
      <button type="submit">Gửi</button>
      <a class="back-login-btn" routerLink="/login"> Quay lại trang đăng nhập</a>
    </form>
  </div>
</div>
