.app-container {
    display: flex;
    height: 97vh; /* Chiều cao toàn màn hình */
    width: 100%;
  }
  
  .app-sidebar {
    width: 100%; /* Có thể điều chỉnh thành 5% hoặc 10% tùy yêu cầu */
    background-color: #f0f0f0; /* Tùy chỉnh màu nếu cần */
    display: flex;
  }
  
  .main-content {
    flex: 1; /* Chiếm phần còn lại */
    overflow-y: auto;
  }
  