<nav class="sidebar">
  <ul>
    <app-avatar [user]="user" (click) = "uploadAvatar()"></app-avatar>
    <li *ngFor="let menu of menus"
      (click)="handleClick(menu)"
      [routerLink]="menu.route"
      [routerLinkActive]="menu.route ? 'active' : ''"
      [routerLinkActiveOptions]="{ exact: true }">

       <span class="icon">
        <ng-container *ngIf="menu.isImage; else textIcon">
          <img [src]="menu.icon" alt="{{ menu.value }}" width="24" height="24" style="vertical-align: middle; margin-right: 8px;">
        </ng-container>
        <ng-template #textIcon>
          {{ menu.icon }}
        </ng-template>
      </span>

    </li>
  </ul>
</nav>
<div class= "modal-overlay" *ngIf= "showUploadAvatar" (click)="closeUploadAvatar()">
  <div (click)="$event.stopPropagation()">
    <app-avatar-upload></app-avatar-upload>
  </div>
</div>

